
modules = ["go-1.21:v2-20231201-3b22c78"]
onBoot = "sh ./examples/deps.sh"
run = "bash ./examples/select.sh"

[nix]
channel = "stable-23_05"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
run = ["bash", "-c", "./examples/select.sh"]
ignorePorts = false
deploymentTarget = "gce"
